[submodule "googletest"]
	path = googletest
	url = git@github.com:google/googletest.git
[submodule "automakewild"]
	path = automakewild
	url = git@gitbox:automakewild.git
[submodule "automakeheadercheck"]
	path = automakeheadercheck
	url = git@gitbox:automakeheadercheck.git
